/* Importing/Linking to the Nunito Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box includes padding and border when setting a width or height */
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
}

a {
    /* Removes the underline on a link */
    text-decoration: none;
    color: #4b5163;
}

#main {
    position: relative;
    /* VH (Viewport Height) determines the height of the element by setting it to a percentage of the viewport (NOTE: VW is used for width) */
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    /* align-content: center; */

    padding: 0 20px;

}
